# Infrastructure Ports
KAFKA_PORT=9092
REDIS_PORT=6379
TIMESCALEDB_PORT=5432
QDRANT_PORT=6333

# TimescaleDB / Postgres Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_pwd
POSTGRES_DB=trendpulse

# Redis Configuration
REDIS_PASSWORD=redis_pwd

# Kafka Configuration
KAFKA_CLUSTER_ID=4L62StMTRvOt6sn9Zglstag
